<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <h3 style="background-color: #DCDCDC; text-align: center;" >マイページ</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-3">
      <table>
        <tr>
          <td><h3>登録情報</h3></td>
          <td class="pl-5"><%= link_to '編集する', "/customers/information/edit", class: 'btn btn-success' %></td>
        </tr>
      </table>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td style="background-color: #DCDCDC;" class="col-3">氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td style="background-color: #DCDCDC;">カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td style="background-color: #DCDCDC;">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td style="background-color: #DCDCDC;">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td style="background-color: #DCDCDC;">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td style="background-color: #DCDCDC;">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <table>
        <tr>
          <td><h3>注文履歴</h3></td>
          <td class="pl-5"><%= link_to "一覧を見る", '/orders', class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>