<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <h3 style="background-color: #DCDCDC; text-align: center;">商品一覧</h3>
    </div>
    <div class="ml-auto mt-5">
      <%= link_to new_admin_item_path do%><i class="fas fa-plus fa-3x"></i><% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <table style="width: 100%;" class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, "/admin/items/#{item.id}" %></td>
            <td><%= item.price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class=" col-12 mt-2" style="display: flex; justify-content: center;">
      <%= paginate @items %>
    </div>
  </div>
</div>