<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <h3 style="background-color: #DCDCDC; text-align: center;">商品新規登録</h3>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <%= form_with model: [:admin, @item] do |f| %>
        <table>
          <tbody>
            <tr>
              <td class="pr-5">商品画像</td>
              <td class="pb-3"><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td class="pb-3"><%= f.text_field :name %><br></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td class="pb-3"><%= f.text_field :introduction %></td>
            </tr>
            <tr>
              <td>税抜き価格</td>
              <td class="pb-3"><%= f.text_field :price %>円</td>
            </tr>
            <tr>
              <td ></td>
              <td><%= f.submit "新規登録", class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>