<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <h3 style="background-color: #DCDCDC; text-align: center;">管理者ログイン</h3>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td class="pb-3" style="width: 300px;">メールアドレス</td>
          <td class="pb-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password", size: 30 %></td>
        </tr>
        <tr>
          <td></td>
          <td class=" pt-4 pb-4"><%= f.submit "ログイン", class: 'btn btn-primary'  %></td>
        </tr>
      </table>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>