<div class="container">
  <div class="row">
    <div class="col-5 mt-5">
      <h3 style="background-color: #DCDCDC; text-align: center;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報詳細</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 mt-5">
      <%= form_with model: [:admin, @customer] do |f| %>
        <table>
          <tbody>
            <tr>
              <td class="col-4 pb-3 pl-0">会員ID</td>
              <td class="pb-3 pl-5"><%= @customer.id %></td>
            </tr>
            <tr>
              <td class="pb-3">氏名</td>
              <td class="pb-3 pl-5"><%= f.text_field :last_name %></td>
              <td class="pb-3 pl-5"><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td class="pb-3">フリガナ</td>
              <td class="pb-3 pl-5"><%= f.text_field :last_name_kana %></td>
              <td class="pb-3 pl-5"><%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
              <td class="pb-3">郵便番号</td>
              <td class="pb-3 pl-5"><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td class="pb-3">住所</td>
              <td class="pb-3 pl-5" colspan="2"><%= f.text_field :address, size: 70 %></td>
            </tr>
            <tr>
              <td class="pb-3">電話番号</td>
              <td class="pb-3 pl-5"><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <td class="pb-3">メールアドレス</td>
              <td class="pb-3 pl-5"><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td class="pb-3">会員ステータス</td>
              <td class="pb-3 pl-5"><%= f.radio_button :is_deleted, false, checked: !@customer.is_deleted %> 有効
                  <%= f.radio_button :is_deleted, true, checked: @customer.is_deleted %> 退会</td>
            </tr>
            <tr>
              <td></td>
              <td class="pt-3 pl-5"><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
