<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報詳細</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto">
      <%= form_with model: [:admin, @customer] do |f| %>
        <table>
          <tbody>
            <tr>
              <td>会員ID</td>
              <td>会員id</td>
            </tr>
            <tr>
              <td>氏名</td>
              <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td>yuukou</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3">
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
