<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1>注文履歴詳細</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto">
      <table>
        <tr>
          <td><h3>購入者</h3></td>
          <td><%= link_to "#{@customer.last_name} #{@customer.first_name}", "admin/customers#{@customer.id}" %></td>
        </tr>
        <tr>
          <td><h3>注文日</h3></td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td><h3>配送先</h3></td>
          <td>〒<%= @order.postal_code %><%= @order.address %><br>
              <%= @order.address_name %></td>
        </tr>
        <tr>
          <td><h3>支払方法</h3></td>
          <td><%= @order.method_of_payment_i18n %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </thead>
        <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.item.with_tax_price %></td>
            <td><%= order_item.amount %></td>
            <td><%= order_item.item.with_tax_price * order_item.amount %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 offset-md-1">
      <table>
        <tr>
          <td><h3>商品合計</h3></td>
          <td><%= @order_total - @order.postage %></td>
        </tr>
        <tr>
          <td><h3>送料</h3></td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <td><h3>請求金額合計</h3></td>
          <td><%= number_with_delimiter(@order.billing_amount) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>