<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1>注文情報確認</h1>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <table class="table">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table">
        <tbody>
          <tr>
            <td>送料</td>
            <td><%= @postage円 %></td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= @total.round.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td>請求金額</td>
            <td><%= @billing_amount %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

