<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1>注文情報入力</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h3>支払方法</h3>
        <%= form_with model: @order, url: orders_confirmation_path do |f| %>
          <%= f.radio_button :method_of_payment, Order.method_of_payments.key(0), checked: true %>
          <%= f.label :method_of_payment_credit_card, Order.method_of_payments_i18n[:credit_card] %><br>
          <%= f.radio_button :method_of_payment, Order.method_of_payments.key(1), checked: false %>
          <%= f.label :method_of_payment_transfer, Order.method_of_payments_i18n[:transfer]%>
      <h3>お届け先</h3>
          <%= f.radio_button :select_address, "0", checked: true %>
          <%= f.label :select_address_my_address, Order.select_addresses_i18n[:my_address] %><br>
            〒<%= current_customer.postal_code %><%= current_customer.address %><br>
            <%= f.hidden_field :postal_code, :value => @order.postal_code %>
            <%= f.hidden_field :address, :value => @order.address %>
            <%= f.hidden_field :address_name, :value => @order.address_name %>
            <%= current_customer.last_name %><%= current_customer.first_name %><br>
          <%= f.radio_button :select_address, "1", checked: false %>
          <%= f.label :select_address_new_address,  Order.select_addresses_i18n[:new_address] %><br>
            <table class="table">
              <tbody>
                <tr>
                  <td>郵便番号(ハイフンなし)</td>
                  <td><%= f.text_field :postal_code %></td>
                </tr>
                <tr>
                  <td>住所</td>
                  <td><%= f.text_field :address %></td>
                </tr>
                <tr>
                  <td>宛名</td>
                  <td><%= f.text_field :address_name %></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= f.submit "確認画面へ進む" %>
      <% end %>
    </div>
  </div>
</div>