<div class="container">
  <div class="row">
    <div class="mr-auto mt-4 mb-4">
      <h3 style="background-color: #DCDCDC;">ログイン</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto mt-3 mb-3">
      <h4 style="background-color: #DCDCDC;">会員の方はこちらからログイン</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tbody>
          <tr>
            <td style="width: 300px;">メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password", size: 30 %></td>
          </tr>
          <tr>
            <td></td>
            <td class=" pt-4 pb-4"><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto mt-3">
      <h4 style="background-color: #DCDCDC;">会員登録がお済みでない方</h4>
      <p class="mt-4 mb-4"><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
   </div>
  </div>
</div>
