<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md bg-dark pb-3 pt-3">
        <div class="container-fluid">
          <%= link_to "ながのケーキ", root_path,class: "navbar-brand" %>
          <div class="text-light mx-auto">
            <%= flash[:notice] %>
          </div>
            <% if admin_signed_in? %>
              <% if request.fullpath.include? "/admin" %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to admin_items_path, class: "nav-link" do %>
                   <font color="black">商品一覧</font><% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to admin_customers_path, class: "nav-link text-light" do %>会員一覧<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to admin_root_path, class: "nav-link text-light" do %>注文履歴一覧<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>ログアウト<% end %>
                </li>
              </ul>
              <% end %>
            <% elsif customer_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to customers_my_page_path, class: "nav-link text-light" do %>マイページ<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to items_path, class: "nav-link text-light" do %>商品一覧<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to cart_items_path, class: "nav-link text-light" do %>カート<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>ログアウト<% end %>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to about_path, class: "nav-link text-light" do %>About<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to items_path, class: "nav-link text-light" do %>商品一覧<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>新規登録<% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to new_customer_session_path, class: "nav-link text-light" do %>ログイン<% end %>
                </li>
              </ul>
            <% end %>
          </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>

